{% extends 'generic/_base.html' %}
{% load form_helpers i18n %}
{% load render_table from django_tables2 %}


{% block title %}
  Add Serial Numbers to {{ table.rows|length }} {{ model|meta:"verbose_name_plural"|bettertitle }}
{% endblock %}

{% block content %}
  <div class="card mb-4">
    <div class="card-body table-responsive">
      {% render_table table 'inc/table.html' %}
    </div>
  </div>

  <form action="" method="post" class="form form-horizontal">
    {% csrf_token %}

    {# Keep your PK hidden inputs so we know which assets to update #}
    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}

    <div class="btn-float-group-right">
      <a href="{{ return_url }}" class="btn btn-outline-secondary btn-float">{% trans "Cancel" %}</a>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
{% endblock %}