{% extends 'generic/object_list.html' %}

{% block title %}Assign {{ object_type_plural|capfirst }} to {{ parent }}{% endblock %}

{% block bulk_buttons %}
  {% if table.rows|length > 0 %}
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">
        Assign Selected {{ object_type_plural|capfirst }}
      </button>
    </form>
  {% else %}
    <button class="btn btn-secondary" disabled>
      No {{ object_type_plural }} match the current criteria
    </button>
  {% endif %}
{% endblock %}
