{% extends 'base/layout.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <h1>Welcome to NetBox Inventory Plus</h1>
      <p>
        This is a plugin that allows you to represent and manage your inventory within NetBox.
        Keep track of your assets, their locations, and their status. Here is how you can get started:
        <ol>
          <li>
            Start by creating an <a href="{% url 'plugins:netbox_inventory:asset_add' %}">Asset</a>.
            Assets are representations of devices, modules, racks or other inventory items in your
            network. Assets are required to define a device/module/inventory item/rack type and a
            status. If you are unsure on the Asset's status, 'Planned' is a good default.
          </li>
          <li>
            Create a <a href="{% url 'plugins:netbox_inventory:supplier_add' %}">Supplier</a>.
            Suppliers are the vendors of the physical products your assets are based on.
            For example, if you have a Cisco switch from Cisco Australia, the supplier name would
            be 'Cisco Australia' and the slug would be 'cisco-australia'.
          </li>
          <li>
            Create a <a href="{% url 'plugins:netbox_inventory:bom_add' %}">BOM</a>. A BOM (Bill
            of Materials) is a list of assets with the intention of being purchased. BOMs are
            required to define a name and a status. If you are unsure on the BOM's status,
            'Planned' is a good default.<br>
            <strong>Note:</strong> BOMs are not required to be created in order to create
            purchases. BOMs are a way to group assets together for the purpose of purchasing. If
            you are not sure if you need a BOM, you probably don't.
          </li>
          <li>
            In the BOM list, select the BOM you just created. This will take you to the BOM details
            page. You will see two tables; one for the Purchases this BOM is associated with, and
            one for the Assets that are associated with this BOM. At the moment, both tables should
            be empty. Click on the <strong>Assign Existing Assets</strong> button and select the
            Asset you just created to add it to this BOM.
          </li>
          <li>
            Back on the BOM details page, click on the <strong>Create New Purchase</strong> button
            to create a new Purchase and automatically associate it with this BOM. Purchases are
            required to define a Supplier, a name, and a status. If you are unsure on the
            Purchase's status, 'Open' is a good default. Once completed, click on the Purchase to
            view its details page.
          </li>
          <li>
            You should see three tables; one for BOMs, one for Deliveries, and one for Assets.
            Where BOMs can be thought of as a list of Assets intended for purchasing, it is useful
            to think of a Purchase as a checklist for your BOMs. When an Asset is purchased, click
            the <strong>Assign Existing Assets</strong> button to add it to this Purchase. The list
            of Assets is filtered to only include those that are part of the associated BOM(s).
            Once assigned, you'll notice that the Asset's status is updated to 'Ordered'
            automatically.
          </li>
          <li>
            Click the <strong>Create New Delivery</strong> button to create a Delivery and assign
            the current Purchase to it. You should see that the Purchase has automatically been
            added to the Purchases field in the form. Deliveries are also required to define a name
            and Delivery site and location.
          </li>
          <li>
            On the Delivery details page, you'll see two tables; one for Purchases and one for
            Assets. When an Asset is delivered, click the <strong>Assign Existing Assets</strong>
            button to add it to this Delivery. Like in step 6, the list of Assets here is filtered
            to only include the Assets that are part of the Delivery's assigned Purchase(s). Any
            Assets assigned from here will automatically have their status updated to 'Stored' and
            their storage_location updated to the site and location of the Delivery.
          </li>
        </ol>
      </p>
    </div>
  </div>
{% endblock content %}

{% block modals %}
  {% include 'inc/htmx_modal.html' %}
{% endblock modals %}
