{% extends 'base/layout.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
  .walkthrough-container {
    display: flex;
    flex-direction: row;
    min-height: 400px;
  }

  .walkthrough-steps {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
  }

  .walkthrough-steps-content {
    height: 470px;
    overflow-y: auto;
    margin-bottom: 1rem;
    transition: min-height 0.2s;
  }

  .walkthrough-image {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
  }

  .walkthrough-image img {
    max-width: 100%;
    max-height: 440px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #0001;
    cursor: pointer;
  }

  .walkthrough-nav {
    text-align: center;
    margin-top: auto;
  }

  .walkthrough-arrow {
    color: var(--tblr-gray-500);
    font-size: 2rem;
    cursor: pointer;
    margin: 0 2rem;
    user-select: none;
  }

  .walkthrough-arrow:hover {
    color: var(--tblr-primary);
  }

  .walkthrough-arrow.disabled {
    color: rgba(1, 1, 1, 0);
    pointer-events: none;
  }

  .walkthrough-modal {
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 1050;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: background 0.2s, opacity 0.2s;
  }

  .walkthrough-modal.active {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
    pointer-events: auto;
  }

  .walkthrough-modal img {
    display: none;
  }

  .walkthrough-modal.active img {
    display: block;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 8px;
    box-shadow: 0 2px 16px #0008;
  }

  .walkthrough-modal img alt {
    display: none;
  }

  .walkthrough-modal-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1100;
    text-shadow: 0 2px 8px #000;
  }

</style>
<div class="walkthrough-container">
  <div class="walkthrough-steps">
    <h1>Welcome to NetBox Inventory Plus</h1>

    <div class="walkthrough-step" data-step="intro">
      <div id="walkthrough-steps-content" class="walkthrough-steps-content">
        <p>
          <strong>Introduction</strong><br>
          The overview is intended to be a guide to the intended workflows when using Inventory Plus. But you aren't
          required to use all objects to manage your Assets. The bare minimum required is the Asset object, everything
          else is optional.
        </p>
        <p>
          <strong>Full Asset Creation</strong>
          <ul>
            <li>Add Supplier</li>
            <li>Add Bill of Materials (BOM)</li>
            <li><strong>Create Assets</strong> from new BOM <span class="alert alert-info bg-info-subtle"
                style="display:inline;"><i class="mdi mdi-information-outline" style="margin-right:0.25rem; margin-left:-0.75rem;"></i>So the Assets are associated with the
                BOM</span></li>
            <li>Add Purchase</li>
            <li><strong>Assign Existing Assets</strong> with Purchase</li>
            <li>Add Delivery</li>
            <li><strong>Assign Existing Assets</strong> with Delivery</li>
            <li>Scan Serial Numbers in Bulk</li>
            <li>Deploying Assets to Devices and Modules</li>
          </ul>
          <strong>Transfering Assets</strong></br>
          Inventory Plus allows you to track the transfer of assets between locations. This lets you know where your
          assets are including when they are with a courier in transit.
          <ul>
            <li>Add Courier</li>
            <li>Add Transfer</li>
            <li><strong>Assign Existing Assets</strong> with Transfer</li>
            <li>Update Transfer on courier pickup</li>
            <li>Add Delivery</li>
            <li><strong>Assign Existing Assets</strong> with Delivery</li>
          </ul>
          <div class="alert alert-info bg-info-subtle"><i class="mdi mdi-information-outline"></i>Both the workflows
            above update the status of the BOM's, Purchases, Deliveries, Transfers
            and Assets automatically when stages are complete.</div>
        </p>
      </div>
      <div class="walkthrough-image">
        <img id="walkthrough-image" src="{% static 'netbox_inventory/intro.jpg' %}" alt="Step preview">
      </div>
    </div>

    <div class="walkthrough-step" data-step="asset">
      <div id="walkthrough-steps-content" class="walkthrough-steps-content">
        <p>
          <strong>Create a Asset</strong><br>
          Assets can be created in multiple ways.
          <ul>
            <li>On their own using the <strong>Add</strong> buttons.</li>
            <li>From a Bill of Materials, Purchase or Delivery using the <strong>Create New Asset</strong> button.</li>
            <li>Or by using Bulk Import or the API.</li>
          </ul>
        </p>
        <p>
          In addition, the <a href="{% url 'plugins:netbox_inventory:asset_add' %}">Create Asset</a> page 
          has the option to create indvidual Assets or Assets in bulk using a supplied quantity.
        </p>
        <p>
          Creating or linking Assets to existing Devices or Modules occurs after the Asset has been saved.
        </p>
      </div>
      <div class="walkthrough-image">
        <img id="walkthrough-image" src="{% static 'netbox_inventory/asset.jpg' %}" alt="Step preview">
      </div>
    </div>

    <div class="walkthrough-step" data-step="supplier">
      <div id="walkthrough-steps-content" class="walkthrough-steps-content">
        <p>
          <strong>Create a Supplier</strong><br>
          Suppliers are a prerequisite of BOM's. Create a new <a 
          href="{% url 'plugins:netbox_inventory:supplier_add' %}">Supplier</a> to be associated with a BOM. Not to be
          confused with Manufacturers, Suppliers are the <strong>vendors</strong> of the physical products your assets
          are purchased from.
        </p>
        <p>
          For example, if you have a Cisco switch and are purchasing it from ACME Networking Equipment, the supplier
          name would be 'ACME Networking Equipment'.
        </p>
      </div>
      <div class="walkthrough-image">
        <img id="walkthrough-image" src="{% static 'netbox_inventory/supplier.jpg' %}" alt="Step preview">
      </div>
    </div>

    <div class="walkthrough-step" data-step="bom">
      <div id="walkthrough-steps-content" class="walkthrough-steps-content">
        <p>
          <strong>Create a BOM</strong><br>
          A BOM is created so you can associate a set of Assets you require but haven't yet purchased.
        </p>
        <p>
          BOM's can be created on their own using the <a href="{% url 'plugins:netbox_inventory:bom_add' %}">Add</a>
          buttons.</br>
          Or from a Purchase using the <strong>Create New BOM</strong> button when viewing the Purchase which will
          automatically associate this BOM with that object if you've done things out of order.
        </p>
        <p>
          Once a BOM has been created you can create new Assets and associate them with the BOM using the
          <strong>Create New Asset</strong> button.<br>
          If the Assets already exist, use the <stong>Assign Existing Assets</stong> button and the bulk select
          interface.
        </p>
      </div>
      <div class="walkthrough-image">
        <img id="walkthrough-image" src="{% static 'netbox_inventory/bom.jpg' %}" alt="Step preview">
      </div>
    </div>

    <div class="walkthrough-step" data-step="purchase">
      <div id="walkthrough-steps-content" class="walkthrough-steps-content">
        <p>
          <strong>Create a Purchase</strong><br>
          Purchases are used to track what you are ordering. They can be associated with multiple BOMs independent of an
          Asset's own association with a BOM.
        </p>
        <p>
          Purchases can be created on their own using the <strong>Add</strong> buttons.</br>
          Or from a BOM or Delivery using the <strong>Create New Purchase</strong> button when viewing the BOM or
          Delivery which will automatically associate this Purchase with that object.
        </p>
        <p>
          Once a Purchase has been created you can create new Assets and associate them with the Purchase using the
          <strong>Create New Asset</strong> button.<br>
          If the Assets already exist, use the <stong>Assign Existing Assets</stong> button and the bulk select
          interface. If you added any BOM(s) to your Purchase then the bulk select interface will be filtered to Assets
          associated with the BOM(s).
        </p>
      </div>
      <div class="walkthrough-image">
        <img id="walkthrough-image" src="{% static 'netbox_inventory/purchase.jpg' %}" alt="Step preview">
      </div>
    </div>

    <div class="walkthrough-step" data-step="delivery">
      <div id="walkthrough-steps-content" class="walkthrough-steps-content">
        <p>
          <strong>Create a Delivery</strong><br>
          Deliveries are used to track what you have recieved. They can be associated with multiple Purchases independent
          of an Asset's own association with a Purchase.
        </p>
        <p>
          Deliveries can be created on their own using the <strong>Add</strong> buttons.</br>
          Or from a Purchase using the <strong>Create New Delivery</strong> button when viewing the Purchase which will
          automatically associate this Delivery with that object.
        </p>
        <p>
          Once a Delivery has been created you can create new Assets and associate them with the Delivery using the
          <strong>Create New Asset</strong> button.<br>
          If the Assets already exist, use the <stong>Assign Existing Assets</stong> button and the bulk select
          interface, if you added any Purchase(s) to your Delivery then the bulk select interface will be filtered to
          Assets associated with the Purchase(s).
          <div class="note">
            It is recommended to set the Delivery's Site and Location fields to the Site and Location of where the
            Asset(s) are being delivered to before allocation of Assets to the Delivery takes place. When done in this
            order, Inventory Plus will update the Assets' Site and Location as well.
          </div>
        </p>
      </div>
      <div class="walkthrough-image">
        <img id="walkthrough-image" src="{% static 'netbox_inventory/delivery.jpg' %}" alt="Step preview">
      </div>
    </div>

    <div class="walkthrough-step" data-step="scanning">
      <div id="walkthrough-steps-content" class="walkthrough-steps-content">
        <strong>Scanning Serial Numbers in Bulk</strong><br>
        <p>
          Serial numbers can be added to Assets in bulk using the <strong>Scan</strong> button on the <a
            href="{% url 'plugins:netbox_inventory:asset_list' %}">Assets page</a>.
          <ul>
            <li>On the <a href="{% url 'plugins:netbox_inventory:asset_list' %}">Assets page</a>, select the Assets
              you want to add</li>
            <li>At the bottom of the page, select the <strong>Scan</strong> button</li>
            <li>The Bulk Scan form has a single textarea, add serial numbers one line per serial number</li>
            <li>When you apply the changes, the serial numbers are assigned to the selected objects</li>
          </ul>
          <div class="alert alert-info bg-info-subtle"><i class="mdi mdi-information-outline"></i>
            You can enter serial numbers by hand or with a scanner if your serial numbers are on barcodes. The form
            validates your entries and will tell you when enough have been entered, this is to help you when scanning
            large numbers of serial numbers to detect when a mistake may have been made.
          </div>
        </p>
      </div>
      <div class="walkthrough-image">
        <img id="walkthrough-image" src="{% static 'netbox_inventory/scanning.jpg' %}" alt="Step preview">
      </div>
    </div>

    <div class="walkthrough-step" data-step="deploy">
      <div id="walkthrough-steps-content" class="walkthrough-steps-content">
        <strong>Deploying Assets</strong><br>
        <p>
          Netbox Devices and Modules can be created from Assets by selecting any unallocated asset and selecting the
          <strong>Create Device</strong> button, if the device is already allocated the button will be greyed out.
        </p>
        <p>
          If there is an existing Device or Module you can associate that device with, click the <strong>Edit
          Assignement</strong> button.
        </p>
      </div>
      <div class="walkthrough-image">
        <img id="walkthrough-image" src="{% static 'netbox_inventory/deploy.jpg' %}" alt="Step preview">
      </div>
    </div>

    <div class="walkthrough-nav">
      <span id="walkthrough-prev" class="walkthrough-arrow mdi mdi-48px mdi-chevron-left"></span>
      <span id="walkthrough-next" class="walkthrough-arrow mdi mdi-48px mdi-chevron-right"></span>
    </div>
  </div>
</div>
<div id="walkthrough-modal" class="walkthrough-modal" tabindex="-1">
  <span id="walkthrough-modal-close" class="walkthrough-modal-close mdi mdi-close" title="Close"></span>
  <img id="walkthrough-modal-img" src="" alt="Full-size preview">
</div>
<script>
  const stepOrder = [
    "intro",
    "asset",
    "supplier",
    "bom",
    "purchase",
    "delivery",
    "scanning",
    "deploy"
  ];


  let currentStepIndex = 0;

  const allSteps = document.querySelectorAll('.walkthrough-step');

  function showStepByName(name) {
    allSteps.forEach(step => {
      step.hidden = step.dataset.step !== name;
    });

    const current = document.querySelector(`.walkthrough-step[data-step="${name}"]`);
    if (!current) return;

    const prevBtn = current.querySelector('.walkthrough-prev');
    const nextBtn = current.querySelector('.walkthrough-next');

    if (prevBtn) prevBtn.classList.toggle('disabled', currentStepIndex === 0);
    if (nextBtn) nextBtn.classList.toggle('disabled', currentStepIndex === stepOrder.length - 1);
  }

  document.addEventListener('click', function (e) {
    if (e.target.attributes.id.value === 'walkthrough-prev' && currentStepIndex > 0) {
      currentStepIndex--;
      showStepByName(stepOrder[currentStepIndex]);
    }

    if (e.target.attributes.id.value === 'walkthrough-next' && currentStepIndex < stepOrder.length - 1) {
      currentStepIndex++;
      showStepByName(stepOrder[currentStepIndex]);
    }
  });

  showStepByName(stepOrder[currentStepIndex]); // initial render

</script>
{% endblock content %}

{% block modals %}
{% include 'inc/htmx_modal.html' %}
{% endblock modals %}
